#header {
    width: 100%;
    height: 400px;
}
#header > #menu {
    width: 100%;
    height: 2em;
    background-color: #E4E4E4;
}

#header > #pic {
    width: 960px;
    height: 300px;
    margin: auto;
}

#header > #pic img {
    width: 960px;
    height: 300px;
    float: right;
}

#header > #menu > #option{
    width: 960px;
    height: 2em;
    margin: auto;
}

#header > #menu > #option img {
    width: 2em;
    margin: 0px;
    box-sizing: border-box;
}

#header > #menu > #option > ul {
    margin: 0px;
    padding: 0px;
    height: 2em;
    box-sizing: border-box;
}

#header > #menu > #option > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
    height: 2em;
    box-sizing: border-box;
    float: left;
    margin-left: 30px;
    font-size: 20px;
}

#header > #menu > #option > ul > li > a {
    text-decoration: none;
    color: black;
}

#header > #menu > #option > ul > li:first-child {
    margin-left: 45px;
}

#header > #menu > #option > ul > li:hover {
    background-color: white;
    color: #B1DED3;
    cursor: pointer;
}
#header > #menu > #option > ul > li.li-img {
    padding: 0px;
    font-size: 1em;
}

#main-iframe {
    display: block;
    margin: auto;
    border: none;
    width: 965;
}


#footer {
    margin: auto;
    width: 960px;
    background-color: E9EBEE;
}
#footer > ul {
    margin: 0px;
    padding: 0px;
    height: 300px;
    box-sizing: border-box;
}

#footer > ul > li {
    display: inline-block;
    vertical-align: top;
    float: left;
    box-sizing: border-box;
    width: 240px;
    height: 300px;
    padding-top: 10px;
}

#footer > ul > li:hover {
    background-color: aquamarine;
}

#footer > ul > li > ul > li > a:hover {
    color: red;
    list-style-type: square;
    cursor: pointer;
}
    #header > #menu > #option > ul > li > .option {
        width: 300px;
        margin: 0px;
        padding: 0px;
        position: absolute;
        display: none;
        margin-top: 4px;
    }
        
#header > #menu > #option > ul > li > .option > div {
    widows: 100px;
    height: 100px;
    margin: 0px;
    padding: 9px;
    float: left;
    border: 1px black solid;
    box-sizing: border-box;
    background-color: white;
}
        
#header > #menu > #option > ul > li > .option > div > a > img {
    width: 80px;
    height: 80px;
    margin: 0px;
    padding: 0px;
} 

#header {
    height: 333px;
}

#footer a {
    text-decoration: none;
    color: black;
}